@font-face {
    font-family: 'Cormorant SC';
    src: url('CormorantSC-Medium.eot');
    src: url('../fonts/Cormorantsc/CormorantSC-Medium.eot') format('embedded-opentype'),
        url('../fonts/Cormorantsc/CormorantSC-Medium.woff2') format('woff2'),
        url('../fonts/Cormorantsc/CormorantSC-Medium.woff') format('woff'),
        url('../fonts/Cormorantsc/CormorantSC-Medium.svg') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;}

   

    @font-face {
        font-family: 'BPG Nuskha Modern';
        src: url('../fonts/modern/bpg-nuskha-modern-webfont.eot'); /* IE9 Compat Modes */
        src: url('../fonts/modern/bpg-nuskha-modern-webfont.ttf') format('embedded-opentype'), /* IE6-IE8 */
             url('../fonts/modern/bpg-nuskha-modern-webfont.woff2') format('woff2'), /* Super Modern Browsers */
             url('../fonts/modern/bpg-nuskha-modern-webfont.woff') format('woff'), /* Pretty Modern Browsers */
             url('../fonts/modern/bpg-nuskha-modern-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
             url('../fonts/modern/bpg-nuskha-modern-webfont.svg') format('svg'); /* Legacy iOS */
    } 