@font-face {
    font-family: 'Cormorant SC';
    src: url('CormorantSC-Medium.eot');
    src: url('../fonts/Cormorantsc/CormorantSC-Medium.eot') format('embedded-opentype'),
        url('../fonts/Cormorantsc/CormorantSC-Medium.woff2') format('woff2'),
        url('../fonts/Cormorantsc/CormorantSC-Medium.woff') format('woff'),
        url('../fonts/Cormorantsc/CormorantSC-Medium.svg') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;}